body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top:50px;

  font-family: 'Sacramento', cursive;
  font-size: 4.6rem;
  margin-bottom: 0;
  color: #66BFBF;
}
h2
{
  font-family: 'Montserrat', sans-serif ;
  font-size: 1.5rem;
  color: #66BFBF;
}
h3
{
  font-family: 'Montserrat', sans-serif ;
  color: #11999E;
}
.supertop {
  background-color: #DBDFFD;
  padding: 100px;
  padding-bottom: 0;
  position: relative;
}
p{
  line-height: 2;
}
hr{
  color:#242F9B;
  border-style: dotted none none;

  border-width:  5px;
  width: 5%;
}

.middle-container {
background-color: white;
margin:100px 0;
}

.bottom-container {

  margin-bottom: 0;
  background-color:#66BFBF;
  padding: 30px 0 30px;
}
a{
  color: #40514E;
  font-family: 'Montserrat', sans-serif ;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.cloudup {
  position: absolute;
  top: 40px;
  right: 400px;
    width:10%;
}

.clouddown {
  position: absolute;
  bottom: 350px;
  left: 350px;
    width:10%;
}
.dp{
  width:10%;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto ;
  text-align: left;
}
.pro{
  text-decoration: underline;
}
.thedown{
  margin-bottom: 0;
  color: #EAF6F6;
  font-size: 0.75rem;
}
.descrp{
  line-height: 2;

}
.image1{
  width: 25%;
  float:left;
  margin-right: 30px;
}
.image2{
  width: 25%;
  float:right;
  margin-left: 30px;
}
.mountain{
    width:40%;
}
.intro{
  width: 50%;
  margin: 0 auto;
}
.contact-me{
  width:40%;
  margin: 40px auto 40px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #242F9B);
  background-image: -moz-linear-gradient(top, #3498db, #242F9B);
  background-image: -ms-linear-gradient(top, #3498db, #242F9B);
  background-image: -o-linear-gradient(top, #3498db, #242F9B);
  background-image: linear-gradient(to bottom, #3498db, #242F9B);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.sp{
  width: 30%;
  margin: 0 auto;
}
.image3{
  width: 25%;
  float: left;
margin-right: 30px;
}
